[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](http://colab.research.google.com/github/rootassist/SQL_ExecEnv_ForColab/blob/main/Pagila_Env_FromGitHub_ForColab.ipynb)

## MySQL サンプルデータベース「Sakila」を使った問題集（テーブル、フィールド名指定付き）

Sakilaを元にした練習問題として「Sakila Practice」があります。これを日本語化しました  
この問題集では、問題文の中で利用するテーブル名やフィールド名を指定しています

- このNoteBookをGoogle Colaboratory環境で開いていない場合には、上部の「Open in Colab」をクリックしColaboratory環境に移って下さい
- 最初に「#環境構築用のセル」を実行して下さい（1分弱ほど時間がかかります）MySQLサーバーが立ち上がり、Sqkilaデータベースが使えるようになります
- %%sqlの下にSQL命令を入力して実行するとMySQLサーバーで実行した結果が出力されます。出力の行数が多いときには以下のアイコンをクリックしてインタラクティブ・テーブルの表示に切り替えて下さい
  ![InteractiveTableIcon.png](attachment:InteractiveTableIcon.png)

In [ ]:
#環境構築用のセル

#MySQL のインストールとサーバーの起動
!sudo pip -q install PyMySQL > /dev/null
!sudo apt update > /dev/null
!sudo apt-get -y -qq update > /dev/null
!sudo apt-get -y -qq install mysql-server mysql-client > /dev/null
!sudo mysql --version
!sudo service mysql start > /dev/null
!sudo service mysql status

#rootユーザーをパスワードrootで設定
!sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"

#Sakilaデータベースを公式から/tmp/dataの下にダウンロードし展開する
!sudo mkdir /tmp/data
!sudo curl -o /tmp/data/sakila-db.zip https://downloads.mysql.com/docs/sakila-db.zip
!sudo unzip -d /tmp/data /tmp/data/sakila-db.zip
!sudo chmod -R 777 /tmp/data

#Sakilaデータベースを作成し設定用のSQLファイルを実行する
!sudo mysql -u root -proot -e "create database sakila;"
sql_names = ('sakila-schema.sql', 'sakila-data.sql')
sql_dir = "/tmp/data/sakila-db/"
for sql_name in sql_names:
   SQLCMD="source "+sql_dir+sql_name+";"
   !sudo mysql -u root -proot -e " $SQLCMD"

#SQL入力準備（以降は%%sqlに続く行にSQLを入力可能）
%load_ext sql
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@localhost:3306/sakila

In [ ]:
#sql実行のサンプル
#%%sql の次の行にSQLを入力する

%%sql
select * from actor limit 10;

---
> 問1a. actor テーブルから、すべての actor の first_name と last_name を表示して下さい。

In [ ]:
%%sql

---
> 問1b. 各 actor の last_name と first_name を、間に空白1つを開けて1つの列にし、大文字で表示して下さい。表示する列の名前は Actor Name として下さい。

---
> 問2a. first_nameが "JOE" である actor の actor_id, first_name, last_name を表示して下さい。

---
> 問2b. last_nameに "GEN" の文字が含まれる actor を全て検索して下さい。

---
> 問2c. last_name に文字列 "LI" を含む actor を検索して表示して下さい。ただし検索結果の並び替えの優先順位は、まず first_name、次に last_name として下さい。

---
> 問2d. INを使用し、country テーブルの Afghanistan,  Bangladesh, China の country_id と country を表示して下さい。

---
> 問3a. actor テーブルに middle_name の列を追加して下さい。列を追加する位置は first_name と last_name の間にして下さい。

---
> 問3b. middle_name 列のデータ型を blob に変更して下さい。

---
> 問3c. middle_name 列を削除して下さい。

---
> 問4a. actor テーブルで同じ last_name を持つ actor の人数を計算して表示して下さい。表示の際に、last_name を列名 "Last Name"、計算した人数を "Last Name Count" という列名で表示して下さい。

---
> 問4b. 問4aに対して、追加する条件として「表示するのは、2人以上同じ last_name を持つ actor のみ」を加えて表示して下さい。

---
> 問4c. actor テーブルの actor "HARPO WILLIAMS" を "GROUCHO WILLIAMS" に変更して下さい。

---
> 問4d. actor の first_name "HARPO" をすべて "GROUCHO" に変更して下さい。ただし元々 "GROUCHO" だった first_name は "MUCHO GROUCHO" に変更して下さい。"HARPO" まで "MUCHO GROUCHO" に変更してしまわないように注意して下さい。

---
> 問5a. address テーブルを作成するための DDL を表示して下さい。(MySQL独自命令)

---
> 問6a. テーブル staff と address のテーブルを使用し、staff の first name、last names、および address を表示して下さい。表示する列名はそれぞれ "First Name", "Last Name", "Address" として下さい。

---
> 問6b. テーブル staff と payment を使用し、2005年8月に各 staff が支払った金額の合計を staff ごとに表示して下さい。表示する列名はそれぞれ、staff の first_name と last_name を空白1文字あけて1列にし "Staff Member" 、金額の合計は "Total Amount"として下さい。

---
> 問6c. テーブル film_actor と film を使用し、各 film の title と、その title に出演している actor の人数を表示してください。表示する列名はそれぞれ、film のタイトルを"Film"、人数は "Number of Actors" として下さい。

---
> 問6d. テーブル film と inventory を使用し、title が "Hunchback Impossible" の film と、その在庫数(その film のテーブル inventory における数)を表示して下さい。表示する列名はそれぞれ、film の title を "Film"、在庫数を "Inventory Count" として下さい。

---
> 問6e. テーブル payment と customer を使用し、各 customer ごとに cutomer が支払った額(amount)の合計を表示して下さい。表示する列名は、cutomer の first_name と last_name を空白1文字あけて1列にし "Customer Name"、額の合計は "Total Paid" として下さい。また表示する行は last_name のアルファベット順として下さい。

---
> 問7a. title が "K" あるいは "Q" で始まり、言語(language)が English である film の title を表示して下さい。サブクエリを使った方法と、JOINを使った方法の2通り解答して下さい。

---
> 問7b. title が "Alone Trip" という film に出演した actor をすべて表示して下さい。表示する列名は、actor の first_name と last_name を空白1文字あけて1列にし "Actors in Alone Trip" として下さい。サブクエリーを使用して下さい。

---
> 問7c. テーブル customer、address、city、country を使用し、country が "Canada" の cutomer 全員の名前とEメールアドレス(email)を表示して下さい。表示する列名は、cutomer の名前が cutomer の first_name と last_name を空白1文字あけて1列にし "Name"、Eメールアドレス(email)を "E-mail"として下さい。

---
> 問7d. テーブル film、film_category、category を使用し、category の name が "Family"である file の title を、列名 "Movie Title"として表示して下さい。

---
> 問7e. テーブル film、inventory、rental を使用し、film の title をレンタル回数が多いものから順に表示して下さい。表示する列名は title を"Movie"、レンタル回数を "Times Rented" として下さい。

---
> 問7f. テーブル payment、rental、inventory、store を使用し、店舗 store ごとの売上(amount)の合計を表示して下さい。表示する列は、store_id を "Store ID"、売上の合計を "Total Sales" として下さい。表示順は 売上の合計の降順として下さい。

---
> 問7g. テーブル store、address、city、country を使用し、store ごとの store_id、city、country を表示して下さい。表示する列名は、store_id が "Store ID"、city が "City"、country が "Country" として下さい。表示は store_id の昇順として下さい。

---
> 問7h. テーブル category、film_category、inventory、rental、payment を使用し、売上(amount)の合計が最も多い category の上位5つを表示して下さい。表示する列名は category の name が "Film"、売上の合計が "Gross Revenue"とし、売上の合計の降順に表示して下さい。

---
> 問8a. 問7h のクエリーを、"top_5_genre_revenue" という名前の view を作るクエリーに変更して下さい。

---
> 問8b. 問8a で作成した view の内容を表示して下さい。

---
> 問8c. 問8a で作成した view を削除して下さい。